
<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span>Popup Card</span></div>
      <div class="panel-body text-center"><a href="xepan_commerce_card">
          <div class="fa fa-picture-o fa-5x"> </div></a></div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span>Current Opening</span></div>
      <div class="panel-body text-center"> <a href="xepan_commerce_currentopening">
          <div class="fa fa-briefcase fa-5x"> </div></a></div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span>Blog Feed</span></div>
      <div class="panel-body text-center"> <a href="xepan_commerce_feeds">
          <div class="fa fa-rss fa-5x"> </div></a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span>Category Banner</span></div>
      <div class="panel-body text-center"> <a href="xepan_commerce_categoryimage">
          <div class="fa fa-file-image-o fa-5x"> </div></a></div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span>Item Enquiry</span></div>
      <div class="panel-body text-center"> <a href="xepan_commerce_itemenquiry">
          <div class="fa fa-envelope-o fa-5x"> </div></a></div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span>Importers & Exporters</span></div>
      <div class="panel-body text-center"> <a href="xepan_commerce_stockimporter">
          <div class="fa fa-download fa-5x"> </div></a></div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span>URL Redirection</span></div>
      <div class="panel-body text-center"> <a href="xepan_commerce_redirection">
          <div class="fa fa-link fa-5x"> </div></a></div>
    </div>
  </div>
</div>