.row
  .col-md-4.col-lg-4.col-sm-12.col-xs-12
    .panel.panel-default
      .panel-heading
        span Popup Card
      .panel-body.text-center
        a(href="xepan_commerce_card")
          .fa.fa-picture-o.fa-5x  
  .col-md-4.col-lg-4.col-sm-12.col-xs-12
    .panel.panel-default
      .panel-heading
        span Current Opening
      .panel-body.text-center 
        a(href="xepan_commerce_currentopening")
          .fa.fa-briefcase.fa-5x  
  .col-md-4.col-lg-4.col-sm-12.col-xs-12
    .panel.panel-default
      .panel-heading
        span Blog Feed
      .panel-body.text-center 
        a(href="xepan_commerce_feeds")
          .fa.fa-rss.fa-5x  
.row
  .col-md-4.col-lg-4.col-sm-12.col-xs-12
    .panel.panel-default
      .panel-heading
        span Category Banner
      .panel-body.text-center 
        a(href="xepan_commerce_categoryimage")
          .fa.fa-file-image-o.fa-5x  
  .col-md-4.col-lg-4.col-sm-12.col-xs-12
    .panel.panel-default
      .panel-heading
        span Item Enquiry
      .panel-body.text-center 
        a(href="xepan_commerce_itemenquiry")
          .fa.fa-envelope-o.fa-5x  
  .col-md-4.col-lg-4.col-sm-12.col-xs-12
    .panel.panel-default
      .panel-heading
        span Importers & Exporters
      .panel-body.text-center 
        a(href="xepan_commerce_stockimporter")
          .fa.fa-download.fa-5x  