div(id= "{$_name}" class ="toshow chatwindow")
  div(style = "height:30px; max-height:30px; background-color:#304253;") 
    .row
      .col-md-10.col-lg-10.col-xs-12.col-sm-12
        span(style="color:#fff; font-size: 18px; font-weight:bold; margin-left:20px;") Customer Support 
      .col-md-2.col-xs-12.col-sm-12(style="color:#fff; cursor:pointer; cursor:hand;")
         i.fa.fa-window-close.fa-2x.show_icon
  div(style = "height:310px; max-height:320px;") 
    div(id="messagediv" style=" margin-top:10px; overflow-y: scroll; max-height:310px; overflow-x: hidden;") {$message_lister}
  div(style = "height:60px; max-height:50px; border-top: 1px solid #999595 !important;") 
    .row(style="margin-top:10px;")
      {$form}
{$icon}

style.
  .toshow{
    display:none;
  }

  .chatwindow{
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index:9999;
    border:1px solid #f3f3f3;
    border-bottom : 0px;
    width:350px;
    height:400px;
    background-color:#fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
  }